@charset "utf-8";
*{
	padding: opx;
	margin: 0px;
}
.headBox{
	width: 100%;
	height: 40px;
	background:#333333;
	
}
.headBox .headCon{
	width: 1226px;
	height: 40px;
	background: 333333;
	margin: 0px auto;
}
.headBox .headCon ul li{
	/*去掉小黑点*/
	list-style: none;
	float: left;
	color: white;
	margin: 10px 5px;
}
.headBox .headCon ul li a{
	color: #b0b0b0;
	/*去掉下划线*/
	text-decoration: none;
	
}

.headBox .headCon ul li a:hover{
	color:#FFFFFF;
}

.headBox .headCon .car{
	position: relative;
	width: 120px;
	height: 40px;
	background:#424242;
	float: right;
	cursor: pointer;
}
.headBox .headCon .car:hover{
	background:#FFFFFF;
}
.headBox .headCon .car:hover span{
	color:#ff6700;
}

/*购物车的下拉菜单*/
.car .carList{
	width: 316px;
	height: 100px;
	background: #FFFFFF;
	position: absolute;
	top: 40px;
	right: 0px;
	
	/*阴影*/
	box-shadow: 0px 2px 2px #B0B0B0;
	font-size: 17px;
	color: #333333;
	text-align: center;
	line-height: 100px;
	z-index: 99;
	/*隐藏看不见下拉框*/
	display: none;
}

.iot{
	display: flex;
	width: 120px;
	height: 120px;
	/* background: red; */
	position: absolute;
	justify-content:center;
	left: 980px;
	z-index: 99;
	flex-wrap:wrap;
	box-shadow: 0px 2px 2px #B0B0B0;
	display: none;
	background: white;
}
.iot .iotimg{
	position: absolute;
	width: 80px;
	height: 80px;
	left: 20px;
	
}
.iot .iottext {
	position: absolute;
	top: 80px;
	left: 20px;
	width: 80px;
	height: 20px;
	font-size:10px;
	/* background: palegreen; */
	align-self:flex-end;
}



/*图标*/
.logoBox{
	width: 1226px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}

.logoBox .logo{
	width: 55px;
	height: 55px;
	background: #FF6700;
	position: absolute;
	top: 23px;
	cursor: pointer;
	overflow: hidden;
}
.logo .logoDouble{
	width: 110px;
	height: 55px;
	background: #FF6700;
	position: absolute;
	top:0px;
	right:0px;
	
}
.logoDouble img{
	width: 52px;
	height: 52px;
	
}
.logoBox ul{
	position: absolute;
	left: 180px;
	top: 0px;
	height: 100px;;
	line-height: 100px;
	
}


/*9个列表*/ 
.logoBox ul li{
	list-style: none;
	float: left;
	font-size: 16px;
	margin-right: 20px;
	cursor: pointer;
	
	
}
.logoBox ul li:hover{
	color: #FF6700;
}

.car img{
	width: 20px;
	height: 20px;
	margin: 10px 10px;
}
.car span{
	color: #b0b0b0b0;
	font-size: 12px;
	position: absolute;
	
	top: 25%;
	
}


/*轮番区域*/
.goodsBox{
	width: 1226px;
	height: 460px;
	background: paleturquoise;
	margin: 0px auto;
}

/*商品下拉菜单*/
.goodsList{
	width: 100%;
	height: 230px;
	background: #FFFFFF;
	border-top: 1px solid #B0B0B0;
	box-shadow: 0px 2px 2px #B0B0B0;
	z-index: 98;	
	position: absolute;
	display: none;
}

.goodsList .listCon{
	position: relative;
	width: 1226px;
	height: 230px;
	background: green;
	margin: 0px auto;
}
.xiaomi,.hongmi,.dianshi{
	width: 1226px;
	height: 230px;
	background: #FFFFFF;
	position: absolute;
}
.xiaomi{
	background: yellow;
}
.hongmi{
	background: blue;
}
.dianshi{
	background: black;
}
